#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.button-table-row {
  display: flex;
  gap: 100px;
  margin: 20px 10px;
}

.button-displayer {
  display: flex;
  flex-direction: column;
}

.button-default {
  border: 1px solid transparent;
  box-shadow: 0px 2px 3px 0px #33333333;
}

.button-default:hover,
.button-default:focus,
.button-default:focus-visible {
  background-color: #aeaeae;
}

.button-outline {
  border: 1px solid #3d5afe;
  background-color: transparent;
  color: #3d5afe;
}

.button-outline:hover,
.button-outline:focus,
.button-outline:focus-visible {
  background-color: #3d5afe24;
}

.button-text {
  border: 0 dotted #3d5afe;
  margin: 0 0;
  background-color: transparent;
  color: #3d5afe;
}

.button-text:hover,
.button-text:focus,
.button-text:focus-visible {
  background-color: #3d5afe24;
}

/* button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e0e0e0;
  color: #3f3f3f;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover,
button:focus,
button:focus-visible {
  background-color: #aeaeae;
} */
